# Bu dosyayı .env.development olarak kopyalayın (local npm start için).

REACT_APP_API_BASE_URL=http://127.0.0.1:8000/api
REACT_APP_IMG_BASE_URL=http://127.0.0.1:8000/storage
REACT_APP_DOMAIN_URL=http://localhost:3000

# İsteğe bağlı marka
REACT_APP_APP_NAME=Smartcafe
